<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lineage.chart.mapper.CellTypeMapper">


    <select id="selectListByTreeId" resultType="com.lineage.chart.entity.CellType">
        SELECT cell_type,
               color,
               tree_id
        FROM tb_cell_type
        WHERE tree_id = #{treeId}
    </select>
</mapper>